grpcio>=1.62.1
grpcio-tools>=1.62.1
protobuf>=4.25.3
pydantic>=2.7.0
python-dotenv>=1.0.0
PyYAML>=6.0.1
aiohttp>=3.9.3
openai>=1.30.0
tiktoken>=0.6.0
colorama>=0.4.6
SQLAlchemy>=2.0.28
fastapi>=0.109.2
tasklib>=2.5.1
aiofiles>=23.2.1
beautifulsoup4>=4.12.3
diff-match-patch>=20230430
GitPython>=3.1.42
aiosqlite>=0.20.0
